/* MAIN---------------------------------------------- */
body, html {
    /* background-color: black; */
    background-color: #010003;
    background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
    }
    
/* header================================================================================= */


.container-fluid {
    background-color: #010003;
    background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-bottom: 5rem;
    /* border: 3px solid white; */
}



/* About me-------------------------------------------------------------- */


/* .card-body1{ 
    color: black;;
} */


.card-mb-3{
    border: 3px solid white;
        text-align: center;
        background-color: gray;
    }
    
    /* .col-md-4{ 
        align-items: center;
        background-color: gray;
        
    } */
    .col-md-8{
        background-image: url("./assets/branches.jpg") ;
        
        color: white;
        
    }
    
    
    
    /* PROJECTS---------------------------------------------- */

    .projectsection {

        background-color: gray;
    }
    
    .card-img-top {
        height: 270px;
        width: 290;;
        border: 3px solid white;
    }
    
    .parallax {
        /* The image used */
        
        /* Full height */
        /* height: 100%;
        
        /* background-image: url("./assets/11103078_10153308134380955_1746563010079024117_o.jpg"); */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; *
    }
    
    .container {
        color: white;
        text-align: center;
        padding: 75px;
        border: 3px solid white;
        margin-top: 30px;
        margin-bottom: 30px;

    }
    
    .container-sm {
        size: 50%;
        /* border: 3px solid white; */
    }
    .card {
        
        background-color: #010003;
        background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    }
    .card-title {
        color: white;
        /* border: 3px solid white; */
    }
    
    .card-body {
        color: white;
        border: 3px solid white;
    }
    /* .myProj {
        width: cover;
    } */
    
    /* .carousel-item img {
        height: 100vh;
    }
    */
    
    /* CONTACT ---------------------------------------------- */
    
    
    .contactMe{
    
    display:flex;
    height: 75vh;
    background-color: #010003;
background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    align-items: center;
    /* border: 3px solid white; */
    
    }
    
    form {
        background-color: grey;
        /* border-radius: 25px; */
        padding: 2em;
        border: 3px solid white;}
    
    .button{
        margin: 3em;
        border-radius: 25px;;
             }



    /* FOOTER------------------------------------------------ */
    
    .footer{
        margin-top: 1em;
      text-align: center;
    

        }