/* MAIN---------------------------------------------- */
body, html {
    background-color: black;
    overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
    }
    
/* header================================================================================= */


.container-fluid {

    margin-bottom: 5rem;
}


    /* CONTACT ---------------------------------------------- */
    
   
    .contactMe{
    
    display:flex;
    height: 75vh;
    background-color: black;
    align-items: center;
    
    
    }
    
    form{
        background-color: grey;
        border-radius: 25px;
        padding: 2em;}
    
    .button{
        margin: 1em;
        border-radius: 20px;;
             }

     /* About me-------------------------------------------------------------- */


     /* .card-body1{ 
         color: black;;
     } */


     .card-mb-3{

        text-align: center;
        background-color: gray;
     }

     col-md-4{ 
         align-items: center;
         background-color: gray;
       
     }
     .col-md-8{
       background-image: url("./assets/branches.jpg") ;

       color: white;
      
       }



    /* PROJECTS---------------------------------------------- */

.card-img-top {
  height: 270px;
  width: 290;;

}
    
.parallax {
    /* The image used */
    background-image: url("./assets/11103078_10153308134380955_1746563010079024117_o.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .container {
        color: white;
        text-align: center;
        padding: 75px;
    }
    
    .container-sm {
        size: 50%;
    }
    .card {
        
        background-color: black;
    }
   .card-title {
       color: white;
   }

   .card-body {
       color: white;
   }
    /* .myProj {
        width: cover;
    } */
    
    /* .carousel-item img {
        height: 100vh;
    }
     */
    
    /* FOOTER------------------------------------------------ */
    
    .footer{
        margin-top: 1em;
      

        }